.header {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    font-size: 24px;
}

.right-links {
    display: flex;
    justify-items: right;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }